@model Group6WebProject.Models.Game

@{
    ViewBag.Title = "Confirm Delete Game";
    Layout = "_Layout";
}

<h2>Delete Game</h2>

<div>
    <h4>Are you sure you want to delete the following game?</h4>
    <h5>Title: @Model.Title</h5>
    <p>Description: @Model.Description</p>
    <p>Release Date: @Model.ReleaseDate.ToString("yyyy-MM-dd")</p>
    <p>Genre: @Model.Genre</p>
    <p>Price: @Model.Price</p>
    <p>Platform: @Model.Platform</p>

    <form asp-action="DeleteGameConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <div>
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="GameManagement" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>